p {
    font-family: Lato;
  }
  input{width: 200px !important;}
  .td-left{
    width: 100px !important;
    margin: 1rem !important;
    padding:10px !important;
  }
  .td-right{
    margin: 1rem !important;
    padding:10px !important;
  }
  .alert{
    font-size: 10;
    position: absolute;
    font-family: Lato;
    color: red;
    margin-left: 48rem !important;
    width: fit-content;
    margin-top: -15 !important;
  }
  .is-invalid{
    color: red;
    border: red;
    border-style: solid;
    border-width: 0.5px;
  }
  .is-invalid:focus{
    color: red;
    border: red;
    border-style: solid;
    border-width: 0.5px;
  }
  span{
    font-family: Lato;
    font-size: 18;
    margin: 1rem auto 1rem auto;
    position: relative;
    padding: 10px; 
  }
  button{
    font-family: Lato;
    font-size: 16;
    padding-right: 1rem;
    padding-left: 1rem;
    background: orange !important;
    color: white !important;
    border-radius: 5px;
    border-color: black;
    margin: 1rem !important;
  }
  .textform{
    margin: 1rem !important;
    font-family: Lato;
  }
  
  #root {
    padding: 30px;
  }
  
  .register-form {
    font-family: Lato;
    position: relative;
    margin: auto;
    width: fit-content !important;
    margin-top: 20px;
    background: white;
    opacity: 75%;
    padding: 25px;
  }


  